<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div align="center">
    <h4>Edit Page</h4>
    <br>
    <form action="#" th:action="@{/teacher/save}" th:object="${teacher}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Teacher Id</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Teacher name</td>
                <td><input type="text" th:field="*{tea_name}" ></td>
            </tr>
            <tr>
                <td>Teacher last name</td>
                <td><input type="text" th:field="*{tea_lastname}" ></td>
            </tr>
            <tr>
                <td>Teacher email</td>
                <td><input type="text" th:field="*{email}" ></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>