<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="card-right" style="width: 18rem;" sec:authorize="isAuthenticated()">

    <div class="card-body">
        <h5 class="card-title" sec:authentication="name"></h5>
        <h5 class="card-title" sec:authentication="principal.authorities"></h5>
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

        <form th:action="@{/logout}" method="post">
            <input class="btn btn-primary" type="submit" value="Logout">
        </form>
    </div>
</div>
<!--<div class="input-group mb-3" sec:authorize="isAuthenticated()">-->
<!--    Welcome  <b><span sec:authentication="name">Username</span> </b>-->
<!--    <i><span sec:authentication="principal.authorities">Roles</span> </i>-->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="submit" value="Logout">-->
<!--    </form>-->
<!--</div>-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">CRUD LMS MVC</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li class="active"><a th:href="@{/company/}">Company</a></li>
            <li class="active"><a th:href="@{/teacher/}">Teacher</a></li>
            <li class="active"><a th:href="@{/group/}">Group</a></li>
            <li class="active"><a th:href="@{/student/}">Student</a></li>
            <li class="active"><a th:href="@{/course/}">Course</a></li>

        </ul>
<!--        <ul class="nav navbar-nav navbar-right" sec:autorize="isAuthenticated()">-->
<!--            <li class="active"><a href="#"><span class="glyphicon glyphicon-username" sec:authentication="name"></span> </a></li>-->
<!--            <li class="active"><a href="#"><span class="glyphicon glyphicon-username" sec:authentication="principal.authorities"></span> </a></li>-->
<!--            <form  th:action="@{/logout}" method="post"><input type="submit" value="Logout"></form>-->

<!--        </ul>-->
    </div>
</nav>

</body>
</html>